---
import { Button } from "../components/ui/button";
---

<section 
  class="relative bg-[url('/image/background/背景1.png')] bg-cover bg-center text-white h-[600px] flex items-center"
>
  <div class="absolute inset-0 bg-black/50"></div>
  <div class="container mx-auto px-4 relative z-10">
    <div class="max-w-3xl mx-auto text-center">
        <h1 class="text-4xl md:text-6xl font-bold mb-6">用中医智慧 开启健康人生</h1>
        <p class="text-xl mb-8">新冠疫情席卷全球，给每个人的生活和健康带来了前所未有的挑战。我们经历了长时间的封锁、社交隔离和压力，身体和心理都承受了巨大的负担。疫情带来了直接的身体伤害，也加剧了各种亚健康问题的发生。</p>
        <a href="/products">
            <Button variant="secondary" size="lg" client:load>产品展示</Button>
        </a>
    </div>
  </div>
</section>
