---
interface Props {
	title?: string;
}

const { title = "智慧中医" } = Astro.props;
---

<!doctype html>
<html lang="zh">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="杭州专业中医诊疗，提供全面的中医治疗服务，包括针灸、推拿、中药调理等" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
